/* General */
html, body {
    background-image: url("/Mustruo/media/fondo-madera.png");
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100%;
    height: 100%;
}
.boton-morado {
    background-color: purple;
    color: lightblue;
}
.boton-morado:hover {
    background-color:  rgba(128, 0, 128, 0.61);;
    color: rgba(173, 216, 230, 0.74);
}
.boton-naranja {
    background-color: lightblue;
    color: purple;
}
.boton-naranja:hover {
    background-color: rgba(173, 216, 230, 0.74);
    color: rgba(128, 0, 128, 0.61);
}
.bg-morado {
    background-color: purple;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
/* Nav */
.personalizarNav {
    text-align: center;
    font-size: 30px;
}
.registrate {
    color: lightblue;
    font-size: 13px;
    text-align: center;
}
.perfil {
    color: lightblue;
    font-size: 20px;
}
.perfil:hover {
    color: rgba(173, 216, 230, 0.74);
}


/* Registro */
form#registro {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
#registro > div > small {
    color: gray;
}


/* Perfil */
.info {
    display: flex;
    margin-top: 2%; 
    margin-left: 6%;
    color: lightblue;
}
.bloqueImagen {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 325px;
}
.imagenUsuario {
    width: 250px;
    height: 250px;
}
.datos {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15%;
    font-size: 20px;
}
.editarDatos {
    margin-left: 9%;
    display: inline;
    color:white;
    font-size: 15px;
}
.editarInput {
    width: 18%;
    background-color: palegreen;
    border: 1px solid palegreen;
    color: green;
    border-radius: 5px;
}
.btn-chiquitin {
    font-size: 10px;
    margin-left: 2%;
    display: inline;
}
.informacionEditar {
    font-size: 10px;
    color: lightblue;
}
.subir{
    padding: 5px;
    text-align: center;
    background-color: lightblue;
    color: purple;
}
.subir:hover{
    background-color: rgba(173, 216, 230, 0.74);
    color: rgba(128, 0, 128, 0.61);
}
.stats {
    margin-bottom: 2%;
    width: 35%;
}
.stats > .numero {
    display: inline;
    color: white;
}
.editarContrasennas {
    display: none;
}
.editarEmail {
    display: none;
}
/* Lobby */
.principal {
    display: flex;
    justify-content: space-between;
}
.header {
    background-color: lightblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2%;
    display: flex;
    position: relative;
    color: darkgreen;
}
.imgCabecera {
    width: 45px;
    height: 45px;
}
.textoHeader {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 8px;
}
.bodyHeader {
    background-color: white;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.scroll {
    overflow-x: auto;
    height: 80%;
}
/*1-3*/
.primerTercio {
    width: 20%;
    margin: 1%;
}
.pestannas {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
}
.pestannas li {
    list-style-type: none;
    float: left;
    text-align: center;
    background-color: purple;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    padding: 0px 7px 0px 7px;
}
.pestannas li:hover {
    background-color: gray;
    cursor: pointer;
}
.pestannas a:link {
    color: bisque;
}
#clasificacion {
    background-color: white;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#clasificacion > div > li {
    border-bottom: 1px solid black;
}
#clasificacion > div > li:hover {
    background-color: lightblue;
    color: green;
    cursor: pointer;
}
.rank {
    display: flex;
    justify-content: space-between;
    padding: 7%;
}
.puntos {
    display: inline;
}
/*2-3*/
.segundoTercio {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}
/*Mesas*/
.mesas {
    height: 72.5%;
    position: relative;
    width: 90%;
    align-self: center;
}
.nuevaMesa {
    position: absolute;
    right: 20%;
    top: 25%;
    bottom: 25%;
}
.dejarMesa {
    position: absolute;
    right: 5%;
    top: 25%;
    bottom: 25%;
}
/*Parte Interna*/
.crearMesas {
    width: 100%;
}
.crearMesas > div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/*Personalizar item*/
.itemMesa {
    background-color: #004d1a;
    color: white;
    border-radius: 2%;
    width: 29%;
    height: 230px;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.posicion0 {
    position: absolute;
    top: 0%;
    left: 40%;
}
.posicion1 {
    position: absolute;
    top: 40%;
    left: 0%;
}
.posicion2 {
    position: absolute;
    bottom: 0%;
    left: 40%;
}
.posicion3 {
    position: absolute;
    top: 40%;
    right: 0%;
}
.asiento > img {
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#bloqueUsu {
    display: flex;
    flex-direction: column;
}
.posicion0 + #bloqueUsu {
    top: 35%;
}
.posicion2 + #bloqueUsu {
    top: 35%;
}
.listo {
    position: absolute;
    top: 40%;
    left: 37%;
}
/*Chat*/
.chat {
    height: 27.5%;
    position: relative;
    width: 90%;
    align-self: center;
}
.divChat {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#chat {
    width: 100%;
}
.enviarTexto {
    width: 100%;
    display: flex;
    border-top: 1px solid purple;
    padding-top: 2px;  
}
.enviarTexto > input {
    width: 85%;
    border-radius: 10px;
    background-color: lightblue;
}
.enviarTexto > button {
    width: 15%;
}
/*3-3*/
.tercerTercio {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
}
.usuarios {
    height: 60%;
    position: relative;
}
.estadisticas {
    height: 40%;
    position: relative;
}
#usuariosonline {
    color: lightgreen;
    font-size: 25px;
}
#usariosonline > li {
    border-bottom: 1px solid black;
}
.online {
    font-size: 20px;
    text-align: left;
    padding: 2%;
}
.online > a {
    cursor: pointer;
}
/*Mesa*/
.principalMesa {
    display: grid;
    grid-template-rows: 4fr 1fr;
    width: 100%;
    height: 100%;
}
/*Partida*/
.partida {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 10px ridge white;
}
/*CuadroEnvites*/
.cuadroEnvites {
    position: absolute;
    top:0;
    left: 0;
    width: 15%;
    height: 23%;
    color: green;
    background-color: lightblue;
    border: 5px ridge white;
    border-top: 0;
    border-left: 0;
}
.cuadroEnvites > div {
    margin-left: 5%;
    margin-top: 2%;
}
.cuadroEnvites > div > span > span {
    right: 10%;
}
/*Interaccion*/
.interaccion {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    padding: 1%;
    background-color: lightblue;
    border: 5px ridge white;
    border-top: 0;
    border-right: 0;
}
.serieInteraccion {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.serieInteraccion > button {
    width: 25%;
    height: 60%;
}
.slider {
    margin-top: 3.5%;
    -webkit-appearance: none;
    width: 25%;
    height: 10px;
    border-radius: 5px;
    background-color: green;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: purple;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: purple;
    cursor: pointer;
}
/*Puntos Partida*/
.puntosPartida {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 25%;
    color: green;
    background-color: lightblue;
}
.tablaPuntos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.tablaPuntos > div {
    border: 5px ridge white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}
/*Usuarios*/
.bloqueUsu {
    width: 10%;
    height: 25%;
    display: flex;
    flex-direction: column;
}
.bloqueUsu > img {
    width: 100%;
    height: 80%;
    border-radius: 50%;
}
.bloqueUsu > span {
    width: 100%;
    height: 20%;
    text-align: center; 
}
/*Posicionamiento*/
.usuario {
    position: absolute;
    bottom: 0;
    left: 40%;
}
.compannero {
    position: absolute;
    top: 0;
    left: 40%;
}
.rivalDer {
    position: absolute;
    left: 68.5%;
    top: 35%;
}
.rivalIzq {
    position: absolute;
    left: 11.5%;
    top: 35%;
}
/*Tapete*/
.tapete {
    width: 45%;
    height: 48%;
    background-image: linear-gradient(to top, #014116, #016322) ;
    border-radius: 2%;
    position: absolute;
    left: 22.5%;
    top: 26%;
}
/*Reloj*/
.reloj {
    width: 125px;
    height: 125px;
    background: lightblue;
    border: 2px solid white;
    color: green;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    bottom: 2%;
}
/*Chat Stats*/
.chatStats {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/*ChatUsu*/
.chatusu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
/*Chat*/
.chatmesa {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr;
}
.text {
    width: 100%;
    height: 100%;
    background-color: black;
}
.sendText {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
}
/*Usu*/
.usuariosmesa {
    width: 100%;
    height: 100%;
    border: 5px ridge white;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.headerUsu {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    color: green;
}
.usus {
    width: 100%;
    height: 100%;
    background-color: black;
}
/*Estadisticas*/
.stats {
    width: 100%;
    height: 100%;
    border: 5px ridge white;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.headerStats {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    color: green;
    text-align: center;
}
.tablaEstadisticas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
.tablaEstadisticas > div {
    border: 5px ridge white;
    background-color: lightblue;
    color:green;
    text-align: center;
}