/* General */
html, body {
    background: #401c50;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100%;
    height: 100%;
}
.boton-marron {
    background-color: black;
    color: white;
    border: 7px ridge #96623d;
}
.boton-marron:hover {
    background-color: #96623d;
    color: black;
    border: 7px ridge white;
}
.centrarTexto {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centrarTexto > span {
    width: 100%;
}
.bg-morado {
    background-color: purple;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
.ocultar {
    visibility: hidden;
}
/* Nav */
.personalizarNav {
    text-align: center;
    font-size: 30px;
}
.registrate {
    color: lightblue;
    font-size: 13px;
    text-align: center;
}
.perfil {
    color: lightblue;
    font-size: 20px;
}
.perfil:hover {
    color: rgba(173, 216, 230, 0.74);
}
/* Perfil */
.info {
    display: flex;
    margin-top: 2%; 
    margin-left: 6%;
    color: lightblue;
}
.bloqueImagen {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 325px;
}
.imagenUsuario {
    width: 250px;
    height: 250px;
}
.datos {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15%;
    font-size: 20px;
}
.editarDatos {
    margin-left: 9%;
    display: inline;
    color:white;
    font-size: 15px;
}
.editarInput {
    width: 18%;
    background-color: palegreen;
    border: 1px solid palegreen;
    color: green;
    border-radius: 5px;
}
.btn-chiquitin {
    font-size: 10px;
    margin-left: 2%;
    display: inline;
}
.informacionEditar {
    font-size: 10px;
    color: lightblue;
}
.subir{
    padding: 5px;
    text-align: center;
    background-color: lightblue;
    color: purple;
}
.subir:hover{
    background-color: rgba(173, 216, 230, 0.74);
    color: rgba(128, 0, 128, 0.61);
}
.stats {
    margin-bottom: 2%;
    width: 35%;
}
.stats > .numero {
    display: inline;
    color: white;
}
.editarContrasennas {
    display: none;
}
.editarEmail {
    display: none;
}
/*Contenedor*/
.contenedor {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
}
/*Nav*/
.barraPrincipal {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #1c0b22;
}
/*Titulo*/
.barraTitulo {
    position: absolute;
    width: 27.5%;
    height: 100%;
    font-size: 190%;
}
/*Logo*/
.barraLogo {
    position: absolute;
    width: 27.5%;
    height: 100%;
    left: 27.5%
}
.barraLogo > img {
    position: absolute;
    left: 35%;
    top: 10%;
    width: 30%;
    height: 80%;
}
/*Inicio Sesion*/
.barraLogin {
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0;
}
.barraLogin > input {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 30%;
    background-color: #96623d;
    color: black;
    border: 7px ridge white;
    font-size: 0.9em;
}
.barraLogin > .inicioContrasenna {
    left: 33.33%
}
.inicioBotones {
    position: absolute;
    right: 3.33%;
    width: 30%;
    height: 100%;
}
.inicioBotones > input {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 50%;
}
.inicioBotones > a {
    position: absolute;
    left: 15%;
    bottom: 0;
    width: 70%;
    height: 40%;
    color: #96623d;
}
/*Volver Lobby*/
a.volverLobby {
    position: absolute;
    width: 30%;
    height: 60%;
    top: 20%;
    right: 3.33%;
    text-decoration: none;
}
/*Logueado*/
.irAPerfil {
    position: absolute;
    width: 30%;
    height: 60%;
    top: 20%;
    right: 33.33%;
    color: #96623d;
}
a.irAPerfil:hover {
    color: #96623d;
}
a.cerrarSesion {
    position: absolute;
    width: 30%;
    height: 60%;
    top: 20%;
    right: 3.33%;
    text-decoration: none;
}